body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 80px;
  line-height: 1.5;
}

p{
  color: #38B2AC;
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}
